data-factory-resources/pipeline/ImportSTFormatFile_UsingGenericCSV_LogFailure.json
{
	"name": "ImportSTFormatFile_UsingGenericCSV_LogFailure",
	"properties": {
		"activities": [
			{
				"name": "Import Sales Data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"additionalColumns": [
							{
								"name": "SourceFileName",
								"value": "$$FILEPATH"
							},
							{
								"name": "RunSeqNo",
								"value": {
									"value": "@variables('RunSeqNo')",
									"type": "Expression"
								}
							}
						],
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"enableSkipIncompatibleRow": true,
					"logSettings": {
						"enableCopyActivityLog": true,
						"copyActivityLogSettings": {
							"logLevel": "Warning",
							"enableReliableLogging": false
						},
						"logLocationSettings": {
							"linkedServiceName": {
								"referenceName": "AnyStorageAccountStorage",
								"type": "LinkedServiceReference",
								"parameters": {
									"ConnectionSecret": "StorageAccountConnectionString"
								}
							},
							"path": "output/errors"
						}
					},
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ABS_CSV_Generic_AnyAcc_AnyBlob",
						"type": "DatasetReference",
						"parameters": {
							"container": "sampledata",
							"folderpath": {
								"value": "@pipeline().parameters.Directory",
								"type": "Expression"
							},
							"filepath": {
								"value": "@pipeline().parameters.File",
								"type": "Expression"
							},
							"linkedinsecret": "StorageAccountConnectionString"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Log pipeline outcome",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "If rows skipped",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Done",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adfsqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Lookup RunSeqNo",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[dbo].[LogPipelineStart]",
						"storedProcedureParameters": {
							"Comments": {
								"type": "String",
								"value": {
									"value": "@concat('Pipeline ', pipeline().Pipeline, ' executed in ', pipeline().DataFactory)",
									"type": "Expression"
								}
							},
							"PipelineRunId": {
								"type": "Guid",
								"value": {
									"value": "@pipeline().RunId",
									"type": "Expression"
								}
							},
							"RunStartDateTime": {
								"type": "DateTime",
								"value": {
									"value": "@utcnow()",
									"type": "Expression"
								}
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ASQL_dboSalesLoad",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Set RunSeqNo",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup RunSeqNo",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "RunSeqNo",
					"value": {
						"value": "@string(activity('Lookup RunSeqNo').output.firstRow.RunSeqNo)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Log pipeline failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import Sales Data",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[LogPipelineEnd]",
					"storedProcedureParameters": {
						"FilesRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.filesRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsCopied": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsCopied",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RowsRead": {
							"value": {
								"value": "@activity('Import Sales Data').output.rowsRead",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunEndDateTime": {
							"value": {
								"value": "@utcnow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"RunSeqNo": {
							"value": {
								"value": "@variables('RunSeqNo')",
								"type": "Expression"
							},
							"type": "Int32"
						},
						"RunStatus": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "adfsqldb",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "If rows skipped",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('Import Sales Data').output.rowsSkipped,0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Copy skipped rows to sink",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"wildcardFolderPath": {
											"value": "@join(skip(split(activity('Import sales data').output.logFilePath,'/'),1),'/')",
											"type": "Expression"
										},
										"wildcardFileName": "*",
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "ABS_CSV_Generic_AnyAcc_AnyBlob",
									"type": "DatasetReference",
									"parameters": {
										"container": "output",
										"folderpath": {
											"value": "@join(skip(split(activity('Import sales data').output.logFilePath, '/'), 1), '/')",
											"type": "Expression"
										},
										"filepath": ".",
										"linkedinsecret": "StorageAccountConnectionString"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "ABS_SQL_AnySchemaAnyTable",
									"type": "DatasetReference",
									"parameters": {
										"Schema": "dbo",
										"Table": "LoadingError"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Import Sales Data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[PersistLoadedSales]"
				},
				"linkedServiceName": {
					"referenceName": "adfsqldb",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"Directory": {
				"type": "string",
				"defaultValue": "azure-data-factory-by-example-main/SampleData/NaughtyButNice"
			},
			"File": {
				"type": "string",
				"defaultValue": "NBN-202006.csv"
			}
		},
		"variables": {
			"RunSeqNo": {
				"type": "String",
				"defaultValue": "-1"
			},
			"MyVariable": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Chapter 6"
		},
		"annotations": []
	}
}